.dropdown-trigger {
  /* relative should be here instead */
  cursor: pointer;
}

.dropdown-trigger {
  border: 1px solid blue;
}

.dropdown-trigger:focus {
  border-color: red;
}

.dropdown[aria-expanded=true] .dropdown-trigger {
  position: relative;
  z-index: 1;
}
