.dropdown-content-dismiss:before {
  font-weight: bold;
  font-style: normal;

  display: block;

  padding: 10px;

  content: '\00d7';
  cursor: pointer;
}

.dropdown-content-dismiss {
  position: absolute;
  top: 0;
  right: 0;

  border: none;
  background: none;
}
