{
  "env": {
    "browser": true,
    "es6": true,
  },

  "rules": {
    "camelcase": [2, {"properties": "never"}],
    "comma-dangle": [2, "always-multiline"],
    "no-underscore-dangle": 0,
    "quotes": ["error", "double"],
    "curly": ["error", "multi-line"],
  }
}
