/*! minions.css | MIT License | https://github.com/chantastic/dropdown.css */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content { position: absolute }

.dropdown[aria-expanded=false] .dropdown-content { display: none }

.dropdown[aria-expanded=true] .dropdown-content {
  display: block;
  z-index: 1;
}
