/*! minions.css | MIT License | https://github.com/chantastic/dropdown.css */

.dropdown-action {
  padding: 10px;

  cursor: pointer;
}

.dropdown-action:focus,
.dropdown-action:hover {
  border-radius: 3px;
  background: #dbdbdb;
}
