/*! minions.css | MIT License | https://github.com/chantastic/dropdown.css */

.dropdown {
  position: relative;
}

.dropdown[aria-expanded=true]::after {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: '';
}


.dropdown[aria-expanded=false] .dropdown-content {
  display: none;
}

.dropdown[aria-expanded=true] .dropdown-content {
  z-index: 1;

  display: block;
}
